<div class="centered">
  <h1>Stupid Coach</h1>
  <h4>Ask me a stupid question, and I'll give you a stupid answer!</h4>

  <form action="/answer" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
